@import "../../../../assets/styles/variables";

.login {
  padding-top: 102px;
  padding-bottom: 96px;

  .container {
    display: flex;
    align-items: center;

    .login-form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      max-width: 430px;
      margin-right: 185px;

      .login-form-title {
        font-family: 'Lora', sans-serif;
        font-weight: 400;
        font-size: 36px;
        color: $light-blue-color;
        margin-bottom: 40px;
      }

      .login-form-checkbox-label {
        .login-form-remember {
          margin-right: 10px;
          cursor: pointer;
        }

        font-size: 14px;
        color: $blue-text-color;
        margin-top: 5px;
      }

      .button {
        width: 100%;
        margin-top: 40px;
      }

      .login-form-link {
        font-size: 14px;
        color: $blue-text-color;
        margin-top: 10px;

        a {
          text-decoration: none;
          color: $light-blue-color;
        }
      }
    }
  }
}
